<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Post Templates</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/posttemplate.css}">
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4">Post Templates</h1>
    <div class="row">
        <div th:each="template : ${templates}" class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" th:text="${template.title}">Template Title</h5>
                    <p class="card-text" th:text="${template.description}">Template Description</p>
                    <div>
                        <h6>Custom Fields:</h6>
                        <ul class="list-group list-group-flush">
                            <li th:each="field : ${template.fields}" class="list-group-item">
                                <strong>Field Name:</strong> <span th:text="${field.fieldName}">Field Name</span><br>
                                <strong>Field Type:</strong> <span th:text="${field.fieldType}">Field Type</span>
                            </li>
                        </ul>
                    </div>
                    <form th:action="@{/communities/{communityId}/posts/templates/{templateId}/loadFields(communityId=${communityId},templateId=${template.templateId})}" method="get" class="mt-3">
                        <button type="submit" class="btn btn-primary btn-block">Select Template</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
